* {
    margin: 0;
    padding: border-box;
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0;
    background-image: url(img/fondoazul.png);
    box-sizing: border-box;
    font-family: cursive, sans-serif;
    font-size: 20px;
   
}
.medallero, .listaPaises, .container, .deportes{
    display: none;
}

.portada{
    display:block;
}


/*estilo para la pag de saludo o bienvenida*/
.flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal {
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.452);
}

.contenidoModal {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);

    animation-name: modal;
    animation-duration: 1s;
}

.saludo, .pieSaludo{
    font-family: cursive;
    text-align: center;
}

.imgSaludo{
    text-align: center;
}

@keyframes modal {
    from {
        top: -330px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    width: 40px;
    height: 40px;
    text-align: center;
    background: darkred;
    border-radius: 50%;
    color: #f2f2f2;
    font-size: 30px;
    font-weight: bold;

}

.close:hover {
    color: #7f8c8d;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader,
.footer {
    padding: 8px 16px;
    background: #167ce2;
    color: #f2f2f2;
}

.modalBody {
    padding: 8px 16px;
}

/* cabecera */
.encabezado {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #ffff;
    background-size: cover;

    top: 0;
    left: 0;
    text-shadow: rgb(0, 0, 150) 1px 1px 5px;
    z-index: 1;
}
/* boton hamburguesa y navegador */
.nav {
    display: flex;
    justify-content: space-around;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.item-link {
    padding: 8px 12px;
    border-radius: 3px;

}

.item-link:hover,
.item-link-active {
    background-color: rgb(253, 253, 253);
    transition: 0.5s;
}

.nav-toggle {
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}

.nav-img {
    display: table-cell;
    height: 80px;
    width: 600px;
    position: relative;
    vertical-align: middle;
}

.tituloPortada {
    text-align: center;
}

.img1 {
    border-radius: 20%;
    height: 500px;
    height: 300px;
    margin: auto;
    display: block;
}

p {
    text-align: justify;
}

h1 {    
    text-align: center;
}

h2 {
    text-align: left;
}

main {
    text-align: justify;
}

/* arreglo posiciones de imagenes del inicio */
.mascotasAbrazadas {
    text-align: center;    
}

 .mascota1 {
    position: relative;
    top: 30px;
    left:350px;
}

.mascota2{
    position: relative;
    bottom:320px;
    left: 850px;
} 

/* diseño del select */
select {
    max-width: 300px;
    position: relative;

    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    font-size: 1em;
    color: rgb(13, 1, 1);
    font-family:
        'Quicksand', sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

select:hover {
    background: #2fc3f0;
}

/* pestaña de paises participantes */
.buscador {
    margin: 2px;
    position: relative;
    left:550px;
}

.btnLupa {
    margin-bottom: 2px;
    position: relative;
    left:550px;
}

label, .buscador{
    justify-self: start;
    text-align: center;
}

.buscar {
    font-size: 16px;
    margin-top: 10px 30px 30px;
    text-align: center;
}

.listaPaises{
    background-image: url(/src/img/mapamundi.png) ;
}
.buscar1 {
    border-radius: 10px;
    height: 80px;
    width: 25%;
    margin-top: 50px 50px;
    max-height: 30px;
    
}
.buscar1::placeholder {
    background-image: url(/src/img/buscarPais.png);
    background-size: 25px 25px;
    background-position: 95% center;
    background-repeat: no-repeat;
    font-size: 16px;    
}

.tablaPais, .tablaDeportes{
    width: 50%;
    height: 200px;    
    border: 1px solid #000;
    border-spacing: 0;
    padding: 0.3em;
    border-collapse: separate;

    position: relative;
    left:380px;
}

.cabeza{
    background: linear-gradient(rgb(125, 113, 250) 22%, rgba(13, 189, 243, 0.583) 53%);
}

/* pagina medallero */
.medallasImg{
    position: relative;
    left: 600px;
}

.tablaMedallas, .tablaAtletas {
    width: 100%;
    border: 1px solid #000;
    border-spacing: 0;
    padding: 0.3em;
}

tr:nth-child(odd) {
    background-color: rgb(162, 230, 242);
}

tr:nth-child(even) {
    background-color: rgb(121, 198, 252);
}

th {
    background-color: white;
}

th,
td {
    width: auto;
    text-align: center;
    border: 1px solid #000;
    border-spacing: 0;
}
/* deportes */
.deportes {
    background-image: url(/src/img/footer.jpeg);
}

/* tabla atletas */
.container{
    background-image: url(/src/img/fondoSeccion.jpg);
}

/* pie de pagina */
footer {
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid #9999;
}

/* diseño de dispositivo movil menos de 768px */
@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }

    .encabezado {
        height: 60px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #a3a8ad;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100%-60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .item {
        line-height: 70px;
    }

    .item-link {
        padding: 8px 12px;
        border-radius: 3px;
    }

    .item-link:hover,
    .item-link-active {
        background: none;
        color: rgb(0, 7, 7);
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    /* el foco con tabulador para mayor accesibilidad visual */
    .nav-toggle:focus:not(:focus-visible) {
        outline: none;
    }

    .nav-img {
        height: 60px;
        width: 230px;
    }

    .tituloPortada {
        margin: 10px 0px 10px 50px;
        text-align: center;
    }

    .img1 {
        border-radius: 20%;
        display: block;
        height: 500px;
        height: 300px;
        margin: auto;
    }

    .contenidoModal {
        width: 70%;
    }
    .flex {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .modal {
        position: fixed;
        z-index: 1;
        overflow: auto;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.452);
    }
    
    .contenidoModal {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        width: 30%;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
    
        animation-name: modal;
        animation-duration: 1s;
    }
    
    .saludo, .pieSaludo{
        font-family: cursive;
        text-align: center;
    }
    
    .imgSaludo{
        text-align: center;
    }
    
    @keyframes modal {
        from {
            top: -330px;
            opacity: 0;
        }
    
        to {
            top: 0;
            opacity: 1;
        }
    }
    
    .close {
        width: 40px;
        height: 40px;
        text-align: center;
        background: darkred;
        border-radius: 50%;
        color: #f2f2f2;
        font-size: 30px;
        font-weight: bold;
    
    }
    
    .close:hover {
        color: #7f8c8d;
        text-decoration: none;
        cursor: pointer;
    }
    
    .modalHeader,
    .footer {
        padding: 8px 16px;
        background: #167ce2;
        color: #f2f2f2;
    }
    
    .modalBody {
        padding: 8px 16px;
    }

}

@media screen and (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}

