* {
    margin: 0;
    padding: border-box;
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0;
    background-image: url(img/fondoazul.png);
}

.header {
    background-color: #ffff;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.item-link {
    padding: 8px 12px;
    border-radius: 3px;

}

.item-link:hover,
.item-link-active {
    background-color: rgb(253, 253, 253);
    transition: 0.5s;
}

.nav-toggle {
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

.nav-img {
    height: 80px;
    width: 600px;
    position: relative;
    
}

.tituloPortada{
    margin: 10px 0px 10px 500px;
}

.img1 {
    border-radius: 20%;
    height: 500px;
    height: 300px;
    margin: 10px 10px 10px 500px;
}

/* dseñ de dispositivo movil menos de 768px */
@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }

    .header {
        height: 60px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #a3a8ad;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100%-60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .item {
        line-height: 70px;
    }

    .item-link {
        padding: 8px 12px;
        border-radius: 3px;
    }

    .item-link:hover,
    .item-link-active {
        background: none;
        color: rgb(0, 7, 7);
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }
    /* el foco con tabulador para mayor accesibilidad visual */
    .nav-toggl:focus:not(:focus-visible){
        outline: none;
    }
    .nav-img {
        height: 60px;
        width: 230px;
    }

    .tituloPortada{
        margin: 10px 0px 10px 50px;
    }
    
    .img1 {
        border-radius: 20%;
        height: 500px;
        height: 300px;
        margin: 10px 10px 10px 50px;
    }
};

