* {
    margin: 0;
    padding: border-box;
}

body {
    font-family: sans-serif;
    padding: 90px 20px 0;
    background-image: url(img/fondoazul.png);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #ffff;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.item-link {
    padding: 8px 12px;
    border-radius: 3px;

}

.item-link:hover,
.item-link-active {
    background-color: rgb(253, 253, 253);
    transition: 0.5s;
}

.nav-toggle {
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

.nav-img {
    display: table-cell;
    height: 80px;
    width: 600px;
    position: relative;
    vertical-align: middle;
}

.tituloPortada {
    /* margin: 10px 0px 10px 500px; */
    text-align: center;
}

.img1 {
    border-radius: 20%;
    height: 500px;
    height: 300px;
    /* margin: 10px 10px 10px 600px; */
    margin: auto;
    display: block;
}

p {
    text-align: justify;
}

.aros {
    border-radius: 20%;
    height: 500px;
    height: 300px;
    /* margin: 10px 10px 10px 600px; */
    margin: 10px auto;
    display: block;
}

h1 {
    text-transform: uppercase;
}

.mascota1 {
    display: flex;
    max-width: 32%;
}

.mascotas2 {
    display: flex;
    max-width: 32%;
}

.mascotasabrazadas {
    display: flex;
    max-width: 32%;
}

/* arreglo de las tarjetas de los atletas */

.container {
    padding: 15px;
}

.card {
    padding: 15px 15px 10px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #80c1f2 0%, #7c9ef2 100%);
    border-radius: 20%;
    color: #fff;
}

.cardBody {
    display: flex;
    justify-content: space-between;
}

.cardBody h2,
.cardBody p {
    margin: 0;
}

.card img {
    width: 100%;
    border-radius: 50%;
    height: 60px;   
    width: 60px;    
    object-fit: cover;
    margin-right: 10px;
}

.atleta {
    font-size: 20px;
}
.cardBodyItem {
    display: flex;
}

.cardBody .deporte {
    margin-bottom: 20px;
    font-size: 14px;
}

.datos {
    display: flex;
    font-size: 12px;
}

.datos div{
    margin-right: 10px;
    text-align: center;
} 

/* diseño de dispositivo movil menos de 768px */
@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }

    .header {
        height: 60px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #a3a8ad;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100%-60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .item {
        line-height: 70px;
    }

    .item-link {
        padding: 8px 12px;
        border-radius: 3px;
    }

    .item-link:hover,
    .item-link-active {
        background: none;
        color: rgb(0, 7, 7);
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    /* el foco con tabulador para mayor accesibilidad visual */
    .nav-toggl:focus:not(:focus-visible) {
        outline: none;
    }

    .nav-img {
        height: 60px;
        width: 230px;
    }

    .tituloPortada {
        margin: 10px 0px 10px 50px;
        text-align: center;
    }

    .img1 {
        border-radius: 20%;
        display: block;
        height: 500px;
        height: 300px;
        margin: auto;
    }

    .aros {
        border-radius: 20%;
        display: block;
        height: 300px;
        height: 180px;
        margin: 10px auto;
    }

}

;